PORT=4000
CLIENT_URL=https://scalar-aiai-client-kfgk88xnj-sandeshsingh1s-projects.vercel.app/
JWT_SECRET=flipkart-clone-secret
DATABASE_URL=
PGSSL=true
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=orders@flipkartclone.dev
